body {
  min-height: 100%;
  background-color: #0b1a2f;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 1fr auto; */
}
